
.post-items > .post-item {
  @apply bg-gray-100;
}

.post-items > .post-item:nth-child(4n + 1) {
  @apply bg-site-pink;
}

.post-items > .post-item:nth-child(4n + 4) {
  @apply bg-site-green;
}

.post-items > .post-item:nth-child(4n + 2) {
  @apply bg-site-blue;
}

.post-items > .post-item:nth-child(4n + 3) {
  @apply bg-site-orange;
}

.pagination {
  @apply flex justify-end;
}

.pagination a {
  @apply bg-gray-100 flex items-center justify-center;
  @apply mr-1 text-sm;
  @apply rounded;
  width: 30px;
  height: 30px;
  transition: 0.2s all ease-in-out;
}

.pagination a:hover {
  @apply bg-site-orange;
}

.pagination .active a {
  @apply bg-site-orange;
}

.pagination a:after {
  @apply hidden;
}

.pagination li.disabled,
.pagination li:first-child,
.pagination li:last-child {
  @apply hidden;
}


.commento-footer,
#commento-markdown-button-root {
  @apply hidden;
}

#commento-comments-area {
  @apply mt-14;
}

#commento-submit-button-root {
  margin-right: 0;
  outline: 0;
  box-shadow: none;
  font-weight: 500;
  letter-spacing: 1px;
  @apply px-3;
  @apply bg-gray-900;
}
