body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  @apply text-gray-700;
}

main {
  flex: 1 0 auto;
}


form {
	display: block;
}

input, select, textarea {
	@apply w-full border-2 border-gray-200;
	@apply mb-5;
	@apply text-sm;
	@apply rounded;
	padding: 6px 15px;
	outline: 0;
}

label span,
.fake-label {
	@apply text-sm font-medium tracking-wide uppercase mb-2;
}

textarea {
	min-height: 150px;
}

.btn {
  cursor: pointer;
  padding: 6px 15px;
  outline: 0;
  letter-spacing: 1px;
	line-height: 24px;
	transition: .2s all ease-in-out;

	@apply inline-flex text-center items-center justify-center;
  @apply text-white bg-gray-900 rounded;
  @apply text-xs uppercase font-medium;
}

a.btn:after {
	@apply hidden;
}

.btn:hover {
	@apply bg-site-green;
	@apply text-gray-900;
}
