@import url('https://rsms.me/inter/inter.css');

html {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

h1 {
  @apply text-4xl;
  @apply font-semibold;
}

h2 {
  @apply text-2xl;
  @apply font-semibold;
}

h3 {
  @apply text-xl;
  @apply font-semibold;
}

h4 {
  @apply text-lg;
  @apply font-medium;
}

h5 {
  @apply text-base;
  @apply font-semibold;
}

p,
li {
  font-size: 1.07rem;
  line-height: 1.7;
}

.content * + p {
  @apply mt-4;
}

.wysiwyg * + p,
.wysiwyg * + ul,
.wysiwyg * + ol,
.wysiwyg * + pre,
.wysiwyg * + code {
  @apply mt-4;
}

.wysiwyg * + h1 {
  @apply mt-10;
}

.wysiwyg * + h2,
.wysiwyg * + h3 {
  @apply mt-8;
}

.wysiwyg * + h4,
.wysiwyg * + h5 {
  @apply mt-6;
}

.wysiwyg ul {
  @apply list-outside list-disc ml-5;
}

.wysiwyg ol {
  @apply list-outside list-decimal ml-5;
}

.wysiwyg li pre {
  @apply mb-4;
}

pre {
  @apply p-4 bg-site-pink text-sm rounded-lg;
  overflow-x: scroll;
}

code {
  @apply p-1 bg-site-pink text-sm rounded;
}

pre code {
  @apply p-0 bg-transparent;
}

a {
  position: relative;
  z-index: 2;
  display: inline-block;
}

a.no-underscore:after {
  @apply bg-transparent;
}

a:after {
  position: absolute;
  height: 5px;
  width: 100%;
  bottom: 0px;
  left: 0;
  right: 0;
  content: ' ';
  z-index: -1;
  @apply bg-site-green;
  transition: 0.2s all ease-in-out;
}

a:hover:after {
  height: 100%;
}

a.no-underscore:hover:after {
  @apply bg-site-green;
}
