@import url('https://rsms.me/inter/inter.css');

html {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

h1, h2, h3, h4, h5, h6 {
  @apply text-gray-900;
}

h1 {
  @apply text-4xl;
  @apply font-semibold;
}

h2 {
  @apply text-2xl;
  @apply font-semibold;
}

h3 {
  @apply text-xl;
  @apply font-semibold;
}

h4 {
  @apply text-lg;
  @apply font-medium;
}

h5 {
  @apply text-base;
  @apply font-semibold;
}

p,
li {
  font-size: 1.07rem;
  line-height: 1.7;
}

.content * + p {
  @apply mt-4;
}

.wysiwyg * + p,
.wysiwyg * + ul,
.wysiwyg * + ol,
.wysiwyg * + pre,
.wysiwyg * + code {
  @apply mt-4;
}

.wysiwyg * + h1 {
  @apply mt-10;
  @apply text-3xl;
}

.wysiwyg * + h2,
.wysiwyg * + h3 {
  @apply mt-8;
}

.wysiwyg * + h4,
.wysiwyg * + h5 {
  @apply mt-6;
}

.wysiwyg ul {
  @apply list-outside list-disc ml-5;
}

.wysiwyg ol {
  @apply list-outside list-decimal ml-5;
}

.wysiwyg li pre {
  @apply mb-4;
}

.wysiwyg li {
  @apply mb-1;
}

p > pre {
  @apply p-3 text-sm rounded-lg;
  overflow-x: scroll;
  background-color: #f8f8f8;
}

p > code {
  @apply p-1 text-sm rounded;
  @apply bg-gray-100;
}

a {
  position: relative;
  z-index: 2;
  display: inline-block;
}

hr {
  @apply block mb-10 mt-10 border-t-2 border-gray-200;
}

a.commento-forgot-link:after,
a.commento-login-link:after,
a.no-underscore:after {
  @apply bg-transparent;
}

a:after {
  position: absolute;
  height: 5px;
  width: 100%;
  bottom: 3px;
  left: 0;
  right: 0;
  content: ' ';
  z-index: -1;
  @apply bg-site-green;
  transition: 0.2s all ease-in-out;
}

a:hover:after {
  height: 80%;
}

a.no-underscore:hover:after {
  @apply bg-site-green;
}


a.commento-forgot-link:after:hover,
a.commento-login-link:after:hover {
  @apply bg-transparent;
}

a.no-underscore.no-hover:hover:after {
  @apply bg-transparent;
}

.transition {
 transition: 0.2s all ease-in-out;
}
