@import url('https://rsms.me/inter/inter.css');

html {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

h1 {
  @apply text-3xl;
  @apply font-semibold;
}

h2 {
  @apply text-2xl;
  @apply font-semibold;
}

h3 {
  @apply text-xl;
  @apply font-semibold;
}

h4 {
  @apply text-lg;
  @apply font-medium;
}

h5 {
  @apply text-base;
  @apply font-semibold;
}

p {
  line-height: 1.6;
}

.content * + p {
  @apply mt-4;
}
