{{ partial "head.html" . }}
{{ partial "header.html" . }}

<section class="container mt-10 lg:mt-20">
  <div class="w-full lg:w-8/12 mb-20 lg:mb-30" data-animate="fade-up">
    <h1 class="mb-4">{{.Title}}</h1>
    {{.Content}}
  </div>

  <!-- Ranges through content/posts/*.md -->
  <div class="flex flex-col post-items">
    {{ range first 1 (where .Pages "Params.featured" true) }}
      {{ partial "blog/item-large.html" . }}
    {{ end }}

    {{ range $index, $element := (.Paginate (where .Pages "Params.private" "!=" true) 8).Pages }}
      {{ partial "blog/item-large.html" . }}
      
      {{ if (eq $index 2) }}
      <div class="mb-10 lg:mb-20 pb-10 lg:pb-20 post-item">
          {{ partial "newsletter.html" . }}
      </div>
      {{ end }}
    {{ end }}
  </div>

  <div data-animate="fade-up">
    {{ template "_internal/pagination.html" . }}
  </div>
</section>

{{ partial "footer.html" . }}
