{{ partial "head.html" . }}
{{ partial "header.html" . }}

<article class="container my-20">
  <div class="mb-14">
    <h1>{{ .Title }}</h1>
  </div> 

  <div class="flex flex-wrap row justify-between">
      <div class="column w-9/12 wysiwyg">
        {{ .Content }}
      </div>

      <div class="column w-2/12">
        {{ partial "blog/date.html" . }}
        {{ partial "blog/categories.html" . }}
        {{ partial "blog/share.html" . }}
      </div>
  </div>
</article>

{{ partial "blog/related-posts.html" . }}
{{ partial "blog/comments.html" . }}

{{ partial "footer.html" . }}
