{{ partial "head.html" . }}
{{ partial "header.html" . }}

<article class="container my-10 lg:my-20">
  <div class="mb-10 lg:mb-14" data-animate="fade-up">
    <h1>{{ .Title }}</h1>
  </div> 

  <div class="flex flex-wrap row justify-between" data-animate="fade-up">
      <div class="column w-full lg:w-9/12 wysiwyg">
        {{ .Content }}
      </div>

      <div class="column w-full mt-10 lg:mt-0 lg:w-3/12 xl:w-2/12">
        {{ partial "blog/date.html" . }}
        {{ partial "blog/series.html" . }}
        {{ partial "blog/categories.html" . }}
        {{ partial "blog/share.html" . }}
      </div>
  </div>
</article>

{{ partial "patreon.html" }}
{{ partial "blog/related-posts.html" . }}
{{ partial "blog/comments.html" . }}

{{ partial "footer.html" . }}
