{{ partial "head.html" . }}
{{ partial "header.html" . }}

<section class="container mt-10 mb-20 lg:mt-20 lg:mb-30">
  <div class="lg:w-9/12 content">
    <h1>Why Hire Me?</h1>
		{{ .Content }}
	</div>
</section>

{{ with .Site.GetPage "sections" "offerings" }}
<section class="container mb-20 lg:mb-30">
  <div class="lg:w-9/12 mb-14">
    <h2 class="mb-4">{{ .Title }}</h2>
    {{ .Content }}
  </div>

  <div class="flex flex-wrap row">
    {{ range (.Pages.ByParam "order")}}
      <div class="w-full md:w-6/12 lg:w-4/12 column mb-8">
        <div class="p-5 rounded-lg {{ .Params.Color }} h-full">
          <h4 class="mb-3">{{ .Title }}</h4>
          {{ .Content }}
        </div>
      </div>
    {{ end }}
  </div>
</section>
{{ end }}

{{ with .Site.GetPage "sections" "technologies" }}
<section class="container mb-20 lg:mb-30">
  <div class="lg:w-9/12 mb-14">
    <h2 class="mb-4">{{ .Title }}</h2>
    {{ .Content }}
  </div>

  {{ range (.Pages.ByParam "order")}}
    <div class="flex flex-wrap row mb-10">
      <div class="column w-full mb-3 md:mb-0 md:w-3/12"><h3>{{ .Title }}</h3></div>
      <div class="column w-full md:w-9/12 technology-toggle">
        <p class="technology-summary">{{ .Summary }}</p>
        <div class="wysiwyg technology-content hidden">{{ .Content }}</div>
        <a href="#" class="technology-read-more mt-4">Read More</a>
      </div>
    </div>
  {{ end }}
</section>
{{ end }}

<section class="container">
  <div class="bg-site-orange text-center rounded-lg p-8">
    <h2 class="mb-4">Want to work together?</h2>
    <p class="w-9/12 text-base mx-auto">If you like what you see and feel we'd be a match, I would love to get together and create something amazing. You can find all my details on my <a href="/contact" class="no-underscore no-hover font-medium" title="Link to contact page">contact page</a>, so drop me a line I'll get back to you as soon as possible!</p>
  </div>
</section>

{{ partial "footer.html" . }}
