{{ partial "head.html" . }}
{{ partial "header.html" . }}

<section class="container mt-20 mb-40">
  <div class="lg:w-9/12 content">
    <h1>Why Hire Me?</h1>
		{{ .Content }}
	</div>
</section>

{{ with .Site.GetPage "sections" "offerings" }}
<section class="container mb-40">
  <div class="lg:w-9/12 mb-14">
    <h2 class="mb-4">{{ .Title }}</h2>
    {{ .Content }}
  </div>

  <div class="flex flex-wrap row">
    {{ range (.Pages.ByParam "order")}}
      <div class="w-4/12 column mb-8">
        <div class="p-5 rounded-lg {{ .Params.Color }} h-full">
          <h4 class="mb-3">{{ .Title }}</h4>
          {{ .Content }}
        </div>
      </div>
    {{ end }}
  </div>
</section>
{{ end }}

{{ with .Site.GetPage "sections" "technologies" }}
<section class="container mb-40">
  <div class="lg:w-9/12 mb-14">
    <h2 class="mb-4">{{ .Title }}</h2>
    {{ .Content }}
  </div>

  {{ range (.Pages.ByParam "order")}}
    <div class="flex flex-wrap row mb-10">
      <div class="column w-3/12"><h3>{{ .Title }}</h3></div>
      <div class="column w-9/12">
        {{ .Content }}

        <a href="#" class="mt-4">Read More</a>
      </div>
    </div>
  {{ end }}
</section>
{{ end }}

<section class="container mb-20">
  <div class="lg:w-9/12">
    <h2 class="mb-4">Want to see more?</h2>
    <p>Why not check out some of my <a href="{{ .Site.BaseURL }}works" title="Link to view works">selected works</a>, what I've been playing with in <a href="{{ .Site.BaseURL }}playground" title="Link to playground">the playground</a> or some of my <a href="{{ .Site.BaseURL }}posts" title="Link to recent posts">recent posts</a>.</p>
  </div>
</section>

{{ partial "footer.html" . }}
