<div class="mt-10 lg:mt-14 mb-10 lg:mb-14 rounded-lg {{ .Params.background }} flex flex-wrap items-end justify-between overflow-hidden">
	<div class="w-full md:w-6/12 lg:w-5/12 p-8 lg:p-10">
		<h2 class="text-2xl mb-2">{{ .Title }}</h2>
		<p class="text-base md:text-sm lg:text-base">{{ .Summary }}</p>
		<p class="mt-5 lg:mb-10">
			<a href="{{ .Params.link }}" target="_blank" rel="noreferrer noopener" class='btn hover:bg-white' title="Link to view website of {{ .Title }}">Visit site</a>
		</p>
	</div>
	<div class="w-full md:w-6/12 lg:w-7/12 md:pt-10">
		<img src="{{ .Params.image }}" alt="" class="w-full h-auto shadow-2xl">
	</div>
</div>
