<div class="mt-10 lg:mt-14 mb-10 lg:mb-20 {{ .Params.background }} flex items-end justify-between overflow-hidden">
	<div class="w-4/12 p-10">
		<h2 class="text-2xl mb-2">{{ .Title }}</h2>
		<p class="text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, sed!</p>
		<p class="mt-5 mb-10 text-sm">
			<a href="{{ .Params.link }}" target="_blank" rel="noreferrer noopener" class='no-underscore no-hover' title="Link to view website of {{ .Title }}">Visit site</a>
		</p>
	</div>
	<div class="w-7/12 pt-10">
		<img src="{{ .Params.image }}" alt="" class="w-full h-auto shadow-2xl">
	</div>
</div>
