<div class="py-8 px-6 lg:px-14 rounded-lg bg-site-blue text-center" data-animate="fade-up">
	<div class="lg:w-11/12 mx-auto">
		<h2 class="mb-4">Enjoyed the series?</h2>
		<p>If you've enjoyed this series and found it useful please consider supporting me by <a href="https://ko-fi.com/jackabox" target="_blank" rel="nofollow noopener" title="Link to Ko-Fi" onclick="fathom('trackGoal', 'I8IRZ2S3', 0);">buying me a coffee</a> to help me produce more quality content and future videos.</p>
	</div>
</div>
