{{ partial "head.html" . }}
{{ partial "header.html" . }}

<section class="container mt-10 lg:mt-20 mb-20 lg:mb-30">
	<div class="w-full lg:w-8/12 content">
		{{ .Content }}
	</div>
</section>

{{ $recentWorks := (where .Site.RegularPages "Section" "in" "works") }}
<section class="container mb-20 lg:mb-40">
	<h2 class="mb-2">Recent Works</h2>
	<p>Over the years I've worked on a range of projects. Here a few of my recent works.</p>
	
	{{ range first 2 $recentWorks }}
		{{ partial "works/item.html" . }}
	{{ end }}

	<p class="-mt-2 lg:mt-0 mb-20"><a class="btn" href="/works">See More Works</a></p>
</section>


{{ $recentBlogs := (where .Site.RegularPages "Section" "in" "posts") }}
<section class="container mb-20 lg:mb-30">
	<h2 class="mb-2">Latest Posts</h2>
	<p>See what I have been writing about recently.</p>

	<ul class="mt-10">
		{{ range first 5 $recentBlogs }}
      <li class="mt-4 lg:flex lg:justify-between">
        <h3><a class="no-underscore" href="{{ .RelPermalink }}" title="Link to {{ .Title }}">{{ .Title }}</a></h3>
        <p class="lg:mt-1 text-sm">{{.Date.Format "02 Jan 2006"}}</p>
      </li>
		{{ end }}
	</ul>

	<p class="mt-10"><a class="btn" title="Link to blog posts" href="/posts">See More Posts</a></p>
</section>

{{ partial "footer.html" . }}
