<div class="mb-10 lg:mb-20 pb-10 lg:pb-20 post-item">
  <div class="w-full flex">
    {{ if .Params.Featured }}
      <p class="inline-block mr-3 text-xs font-medium uppercase tracking-wide mb-3 px-3 py-2 bg-site-pink rounded">&star; Featured Post</p>
    {{ end }}
    
    {{ range .Params.Series }}
       <a href="/series/{{ . | urlize }}" class="inline-block mr-3 text-xs font-medium uppercase tracking-wide mb-3 px-3 py-2 bg-site-orange rounded no-underscore no-hover">
       Series - {{ . }}</a>
    {{ end }}
  </div>

  <div class="flex flex-wrap row justify-between">  
    <div class="column w-full lg:w-9/12">
      <h2 class="mb-4"><a href="{{.Permalink}}" class="no-underscore">{{ .Title }}</a></h2>

      <p>{{ .Description }}</p>

      <p class="mt-6">
        <a href="{{.Permalink}}">Read More</a>
      </p>
    </div>

    <div class="column hidden lg:block lg:w-3/12 xl:w-2/12">
      {{ partial "blog/date.html" . }}
      {{ partial "blog/categories.html" . }}
    </div>
  </div>
</div>
