{{ $related := (( where ( where .Site.Pages.ByDate.Reverse ".Params.categories" "intersect" .Params.categories ) "Permalink" "!=" .Permalink )) }}

{{ if $related }}
<section class="mt-20 container">
    <div class="p-8 rounded-lg bg-site-blue w-9/12">
      <h2 class="mb-4">Related Posts</h2>

      <ul>
        {{ range first 3 $related }}
          <li class="mt-4">
            <h4><a class="no-underscore" href="{{ .RelPermalink }}" title="Link to {{ .Title }}">{{ .Title }}</a></h4>
            <p class="text-sm">{{.Date.Format "02 Nov 2006"}}</p>
          </li>
        {{ end }}
      </ul>
    </div>
</section>
{{ end }}
