{{ partial "head.html" . }}
{{ partial "header.html" . }}

<section class="container my-10 lg:my-20">
  <div class="lg:w-9/12 content">
    <h1>{{.Title}}</h1>
    {{.Content}}
  </div>
</section>

<section class="container">
  <!-- Ranges through content/posts/*.md -->
  {{ range .Pages }}
    {{ partial "works/item.html" . }}
  {{ end }}

  <div>
  	<h2 class="mb-4">Want to work together?</h2>
    <p class="lg:w-9/12 text-base">If you like what you see and feel we'd be a match, I would love to get together and create something amazing. You can find all my details on my <a href="/contact" title="Link to contact page">contact page</a>, so drop me a line I'll get back to you as soon as possible!</p>
  </div>
</section>

{{ partial "footer.html" . }}
